# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/
env/

# Environment variables
.env

# HuggingFace cache
.cache/
huggingface/

# ChromaDB
vector_db/

# Models
*.pkl

# OS
.DS_Store
Thumbs.db